# Project data
.Rproj.user

# History files
.Rhistory
.Rapp.history

# Session Data
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*.Rcheck/

# RStudio files
.rstudio-prefs

# knitr and R markdown temporary files
*_cache/
/cache/

# R Environment Variables
.Renviron

# Data and other unwanted files
Rplots.pdf
*.xlsx
*.csv
